@using WebApplication2.Models
@model Konu
@{
    ViewBag.Title = "konuSil";
}

<h2>konuSil</h2>
<div class="row">
    <div class="col-md-12">
        <div class="block-heading">
            <div class="main-txt h2"> OPERATIONS OF DELETING SUBJECT </div>
        </div>
        <div class="block-content-outer">
            <div class="block-content-inner">
                <form action="/Konu/konuSil" method="post">
                    <input type="hidden" name="konuID" value="@Model.konuID" />
                    <label> Delete subject named @Model.konuAdi ?</label>
                    <input class="btn-danger rounded" type="submit" value="Yes" />
                </form>
            </div>
        </div>
    </div>
</div>

